       *, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
padding: 0;
margin: 0;
  background: #CCFBFE;
}
.container-main {
  height: 100%;
}

.sidebar-speed {
   height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #656363;
  overflow-x: hidden;
  
}

.content-speed {
  margin-left: 270px; /* Same as the width of the sidenav */
 
  padding: 0px 10px;
   height: 100%;
}
.sidebar-speed ul.speed_myprofile{margin: 0; padding: 0; list-style: none;}
.sidebar-speed  .nav-profile{    padding: 0 1.75rem; background: #959191;}
.sidebar-speed .nav-profile .nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
}
.sidebar-speed .nav-profile .nav-link{color: #fff;}
.sidebar-speed .nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
}
.sidebar-speed .nav-profile .nav-link .nav-profile-image img{    width: 44px;
    height: 44px;
    border-radius: 100%;}
.sidebar-speed .nav-profile .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;   
        line-height: 1;
            text-decoration: none;
}
.sidebar-speed .nav-profile .nav-link  .nav-profile-text {
    margin-left: 1rem;
}
.d-flex{
    display: flex !important;
}
.flex-column{
      -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

/*----------------tinder-------------------*/

.tinder {
 /* width: 100vw;*/
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

/*.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}*/

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_love .fa-comments-o {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  /*align-items: flex-end;*/
   align-items: center;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  /*height: 70vh;*/
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  color: #fff;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}


.fa-remove {
  color: #CDD6DD;
}


.card-info {
    position: absolute;
    bottom: 8px;
    left: 0;
    text-align: left;
}
.tinder--cards{position: relative;}
/*----------------tinder-------------------*/
h2.msg-til{    padding: 0 1.75rem;     color: #fff;
    margin-top: 30px;}